@{
    ViewData["Title"] = "Contato";
}
    <style>
        .s-m {
            margin-top: 20px;
            justify-content: space-around;
            display: flex;
            max-width: 700px;
        }

            .s-m a {
                text-decoration: none;
                font-size: 28px;
                color: #f1f1f1;
                width: 60px;
                height: 60px;
                text-align: center;
                transition: 0.4s all;
                line-height: 58px;
                cursor: pointer;
                background: #314652;
                border-radius: 50%;
            }

                .s-m a:hover {
                    transform: scale(1.25);
                }
    </style>
            <br />
            <h2 style="color: blueviolet">Conheça a JJMM</h2>
            <h4><kbd>Sua empresa de música e afins</kbd></h4>

            <br />
            <address>
                Somos uma pequena empresa de alunos<br />
                de Informática do IFSP - Câmpus São Paulo. <br />
                Viemos para ̶t̶i̶r̶a̶r̶ ̶n̶o̶t̶a̶ ̶e̶m̶ ̶L̶P̶3̶  trazer música <br />
                acessível para todos com nossa plataforma<br />
                aberta e totalmente gratuita - o JJMM Music!
            </address>

            <address>
                <strong>Suporte técnico:</strong> <a>gesal50098@gmail.com</a><br />
                <strong>Contato empresarial:</strong> <a>	joaojhdez@gmail.com</a><br />
                <strong><i class="fa fa-whatsapp" style="color: lawngreen"></i> Whatsapp:</strong> <a>+55 (11) 99773-6007</a>
            </address>

            <div class="s-m">
                <a class="fa fa-facebook" href="https://www.facebook.com/" style="background-color: #2980b9;"></a>
                <a class="fa fa-twitter" href="https://twitter.com/" style="background-color: #3498db;"></a>
                <a class="fa fa-youtube-play" href="https://www.youtube.com/" style="background-color: #e74c3c;"></a>
                <a class="fa fa-whatsapp" href="https://www.whatsapp.com/" style="background-color: #27ae60;"></a>
                <a class="fa fa-instagram" href="https://www.instagram.com/?hl=pt-br" style="background-color: #e67e22;"></a>
            </div>
