@model JJMM_Music.Models.Banda

@{
    ViewData["Title"] = "Create";
}

<h2>Adicionar</h2>

<h4>Nova banda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeBanda" class="control-label">Nome da banda</label>
                <input asp-for="NomeBanda" class="form-control" />
                <span asp-validation-for="NomeBanda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGenero" class="control-label">Gênero</label>
                <select asp-for="IdGenero" class ="form-control" asp-items="ViewBag.IdGenero"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
